body {
    font-size: .875rem;
    color: #052840;
    /*font-family: "Rubik", sans-serif;*/
    font-family: "Barlow", sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.bg-top-nav {
    /*background: #2e3e4e;*/
    background: #869f67;
}

.sb-sidenav-light-cus {
    background-color: #f5f5f5;
    color: #212529;
}

.bg-dark-cus {
    /*background-color: #1d232a;*/
    background-color: #030b15;
}

.card {
    background-clip: border-box;
    box-shadow: 0 0px 5px #e8ebf3;
    border: 1px solid #f3f3f3;
    border-radius: 0.55rem;
    /*    overflow: hidden;*/
}

    .card .card-header {
        padding: 1rem 1rem;
        background-color: #fff;
        border-bottom: 1px solid #eceff5;
    }


.table > :not(:first-child) {
    border-top: 2px solid #e8ebf3;
}

.dropdown-user {
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: .875rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 10px 40px 10px rgba(140, 152, 164, .18);
    border-radius: .25rem;
}

    .dropdown-user li a {
        font-size: 0.87rem;
    }

    .dropdown-user .dropdown-divider {
        height: 0;
        margin: 0.5rem 0;
        overflow: hidden;
        border-top: 1px solid #e8ebf3;
    }

/*summernote dropdown fix*/
.note-btn.dropdown-toggle:after {
    content: none;
}

.note-editor.note-airframe, .note-editor.note-frame {
    border: 1px solid #eaeaea;
    border-radius: 0.25rem;
    box-shadow: none;
}

    .note-editor.note-airframe .note-statusbar, 
    .note-editor.note-frame .note-statusbar {
        background-color: rgba(128, 128, 128, 0.11);
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-top: 1px solid #eaeaea;
    }


.nav-link[aria-expanded="true"] {
    background-color: rgba(46, 62, 78, 0.07);
    border-radius: 6px;
}


.sb-sidenav-light .sb-sidenav-menu .nav-link.active, 
.sb-sidenav-light-cus .sb-sidenav-menu .nav-link.active {
    color: #000000;
    background-color: rgba(46, 62, 78, 0.07);
    border-radius: 6px;
    font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
    color: #0080bf;
}
    .sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon, 
    .sb-sidenav-light-cus .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
        color: #000000;
    }

.sb-sidenav-menu {
    padding: 10px;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    margin-top: 2px;
}

    .sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon-sm {
        font-size: 0.4em;
        margin-right: 0.5rem;
    }

#sidebarToggle {
    background-color: rgba(205, 205, 205, 0.19);
}

.page-title-box {
    padding: 10px 0;
}

    .page-title-box .page-title {
        font-size: 1.6em;
        margin: 0;
        color: #191a1a;
        font-weight: bold;
    }

.nav-link {
    color: #343a40;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    font-weight: bold;
    background: #7C9473;
    border-radius: 0px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-radius: 0px;
}

.mw-100-c {
    max-width: 100px;
}

.mw-80-c {
    max-width: 80px;
}

.mw-60-c {
    max-width: 60px;
}

.mw-50-c {
    max-width: 50px;
}

.mw-40-c {
    max-width: 40px;
}


.w-150-c {
    width: 150px;
}

.w-140-c {
    width: 140px;
}

.w-120-c {
    width: 120px;
}

.w-100-c {
    width: 100px;
}

.w-80-c {
    width: 80px;
}

.w-60-c {
    width: 60px;
}

.w-50-c {
    width: 50px;
}

.w-40-c {
    width: 40px;
}


/*sweet alert start*/

.swal-text {
    font-size: 15px;
    color: inherit;
}

.swal-title {
    font-size: 22px;
}

    .swal-title:not(:last-child) {
        margin-bottom: 8px;
    }

.swal-button {
    padding: 6px 14px;
    font-size: 13px;
}

.swal-modal {
    max-width: 440px;
}

.swal-icon {
    width: 60px;
    height: 60px;
}

.swal-icon--success__ring {
    width: 60px;
    height: 60px;
}

.swal-icon--success__line--long {
    width: 32px;
    right: 8px;
    top: 29px;
}

.swal-icon--success__line--tip {
    width: 18px;
    left: 12px;
    top: 34px;
}

.swal-icon--success__hide-corners {
    width: 6px;
    height: 64px;
    left: 16px;
    top: 9px;
}

.swal-icon--warning__body {
    height: 28px;
}

.swal-icon--error__line {
    width: 40px;
    top: 28px;
}

.swal-icon--error__line--left {
    -webkit-transform: rotate( 45deg );
    transform: rotate( 45deg );
    left: 10px;
}

.swal-icon--error__line--right {
    -webkit-transform: rotate( -45deg );
    transform: rotate( -45deg );
    right: 10px;
}

.swal-icon--info:after {
    top: 9px;
}

.swal-icon--info:before {
    bottom: 12px;
}

/*sweet alert end*/


/*badge start*/
.badge-md {
    font-size: 0.85em;
}
/*badge end*/

/*custom toggle 01*/
.custom-toggle01 {
    margin-bottom: 4px;
}

    .custom-toggle01 > label {
        display: inline-block;
        position: relative;
        padding-left: 8px;
        cursor: pointer;
    }

    .custom-toggle01 > input[type="checkbox"] {
        position: relative;
        width: 30px;
        height: 15px;
        -webkit-appearance: none;
        background: #c6c6c6;
        border-radius: 100px;
        outline: none;
        top: 1px;
        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
        transition: .5s;
        cursor: pointer;
    }

    .custom-toggle01 > input:checked[type="checkbox"] {
        /*background: #007bff;*/
        background: #009688;
    }

    .custom-toggle01 > input[type="checkbox"]::before {
        content: '';
        position: absolute;
        width: 55%;
        height: 110%;
        top: -1px;
        left: 0;
        background: white;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        transform: scale(1.1);
        transition: .3s;
    }

    .custom-toggle01 > input:checked[type="checkbox"]::before {
        left: 50%;
    }

.toggle-2.toggle {
    position: relative;
    display: inline-block;
}

.toggle-2.toggle input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.toggle-2.toggle input[type=checkbox]:hover + label:after {
    box-shadow: 0 2px 15px 0 #0002, 0 3px 8px 0 #0001;
}

    .toggle-2.toggle input[type=checkbox]:checked + label:before {
        background: #6dcbb5;
    }

.toggle-2.toggle input[type=checkbox]:checked + label:after {
    left: 16px;
}

.toggle-2.toggle label {
    position: relative;
    display: flex;
    height: 16px;
    align-items: center;
    cursor: pointer;
}

    .toggle-2.toggle label:before {
        content: "";
        border-radius: 20px;
        width: 32px;
        height: 14px;
        margin-right: 8px;
        background: #ccc;
        position: relative;
        display: inline-block;
        transition: 0.2s ease-in;
    }

    .toggle-2.toggle label:after {
        content: "";
        position: absolute;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        z-index: 2;
        transform: rotate(45deg);
        background: #fff;
        box-shadow: 0 0 2px 1px #0002;
        transition: 0.2s ease-in;
    }

/*custom checkbox start*/
.checkbox_item {
    position: relative;
}

    .checkbox_item input {
        float: left;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: -1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 9px;
        position: relative;
        border-radius: 3px;
        border: 1px solid #e8ebf3;
        background-color: #ffffff;
    }

        .checkbox_item input:before {
            content: '';
            opacity: 0;
            display: block;
            position: absolute;
            top: 2px;
            left: 6px;
            width: 6px;
            height: 12px;
            border: solid #0079bf;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        .checkbox_item input:checked:before {
            opacity: 1;
        }

    .checkbox_item label {
        display: table;
        color: #333333;
        cursor: pointer;
        margin-bottom: 0;
    }
/*custom checkbox end*/

/*Datatable Modify*/
.dt-buttons .btn {
    padding: 3px 8px !important;
    margin-bottom: 4px !important;
    border: 1px solid #a7a7a7
}

table.dataTable > tbody > tr.child ul.dtr-details {
    display: block;
    list-style-type: none;
}

    table.dataTable > tbody > tr.child ul.dtr-details > li {
        display: flex;
        justify-content: space-between;
    }

/*datatable responsive toggle button*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    border-radius: 2px;
    line-height: 1.1em;
    border: none;
    font-size: 1.4em;
    left: 0;
    top: 47%;
    box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    background: rgba(16, 156, 143, 0.30);
    color: #109c8f;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
    background: rgba(255, 118, 131, 0.30);
    color: #ff7683;
    /*background: linear-gradient(90deg, rgba(255,118,131,1) 47%, rgba(255,147,158,1) 100%);*/
}

table.dataTable > tbody > tr.child {
    padding: .5em 1em;
    background: rgba(96, 125, 139, 0.08);
}



.page-link {
    /*position: relative !important;
    display: block !important;*/
    font-size: .8125rem;
    padding: .4rem .6rem !important;
    margin-left: -1px !important;
    line-height: 1rem !important;
    color: #526484 !important;
    background-color: #fff !important;
    border: 1px solid #e5e9f2 !important;
    text-align: center !important;
    margin: 0 4px;
}

.page-link:hover {
    color: #22c8e5 !important;
    text-decoration: none !important;
    background-color: #22c8e522 !important;
    border-color: #22c8e5 !important;
}

    .page-link:focus {
        outline: 0 !important;
        box-shadow: none !important;
    }

.page-item.active .page-link {
    color: #ffffff !important;
    background-color: #22c8e5 !important;
    border-color: #22c8e5 !important;
}

.pagination {
    display: flex !important;
    padding-left: 0 !important;
    list-style: none !important;
    border-radius: 4px !important;
}


.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(179, 179, 179, .15);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(140, 140, 140, .18);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f5f5f5;
}

/*remove dropdown icon for user action. ex: edit, delete....etc  */
.dropdown-toggle.user-action::after {
    display: none;
}

/*Validation Summary start*/
.validation-summary-errors {
    color: #842029;
    background-color: #ffeff0;
    border-color: #f5c2c7;
    padding: .95rem;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

    .validation-summary-errors ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .validation-summary-errors ul li {
            width: 100%;
            font-size: 80%;
            color: #dc3545;
        }

/*Validation Summary end*/

.field-validation-error {
    color: #dc3545;
    font-size: smaller;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    color: #707070;
}

.validationerror ul {
    color: #842029;
    background-color: #ffeff0;
    border-color: #f5c2c7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.validation-summary-errors {
    color: #842029;
    background-color: #ffeff0;
    border-color: #f5c2c7;
    padding: .95rem;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

    .validation-summary-errors ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .validation-summary-errors ul li {
            width: 100%;
            font-size: 80%;
            color: #dc3545;
        }


.modal-header {
    border-bottom: 1px solid #efefef;
}

.modal-footer {
    border-top: 1px solid #efefef;
}


.su-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 99999999;
}

#preloader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*.loading-msg {
    width: 100%;
    font-size: 0.75em;
    color: #555;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}*/

.spinner {
    width: 50px;
    height: 50px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #2489CE;
    /*border-top: 5px solid #f1c40f;*/
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loading-msg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    text-align: center;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #f1c40f;
    font-size: 0.85em;
    font-weight: bold;
}


.ripple {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 0.3rem solid #2ca0db;
    transform: translate(50%);
    animation: 1s ripple ease-out infinite;
}

/*@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}*/

/*.table-responsive {
    overflow-x: unset;
}*/

/*summernote*/
.note-modal-footer {
    height: 75px;
    padding: 20px 30px;
}

.note-modal-content {
    border: none;
    border-radius: 14px;
    box-shadow: 0 3px 9px rgba(106, 106, 106, 100);
}

.note-modal-header {
    border: none;
    border-bottom: 1px solid #ededef;
}

.note-modal .note-modal-body label {
    padding: 2px 0px;
}

.note-form-label {
    font-size: 14px;
    color: #222222;
}

.note-modal-title {
    color: #131414;
}

/*rating_star*/
.rating_star {
    padding: 0;
}

    .rating_star li {
        color: #ffc700;
        float: left;
        list-style: none;
        display: inline-block;
    }

        .rating_star li:not(:last-child) {
            margin-right: 2px;
        }

.user-action {
    padding: 0 !important;
}

.btn {
    border-radius: 2px;
}

.btn-action {
    border-radius: 2px;
    width: 27px;
    margin: 1px 3px;
}

.btn-group-xs > .btn, .btn-xs {
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 0.8rem;
    --bs-btn-border-radius: 0.25rem;
}




.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #ffffff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #e8ebf3;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), none;
}

.custom-select:focus::-ms-value {
    color: #495057;
    background-color: #ffffff;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: 0.75rem;
    background-image: none;
}

.custom-select:disabled {
    color: #6c757d;
    background-color: #e9ecef;
}

.custom-select::-ms-expand {
    display: none;
}

.custom-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 75%;
}

.custom-select-lg {
    height: calc(2.875rem + 2px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 125%;
}

/*hierarchy-select*/
.hierarchy-select .dropdown-menu {
    min-width: 100%;
}