@model ForgotPasswordDto

@{
    Layout = LayoutPage.CleanLayout;
    ViewData["Title"] = "Forgot Password";
}

<div class="top-header">

    <div class="container-fluid ">
        <div class="d-flex justify-content-between">
            <button onclick="history.back()" class="btn btn-light btn-sm rounded-2 bg-soft-sky"><i class="fa-solid fa-arrow-left"></i></button>
            <a href="/" class="btn btn-light btn-sm rounded-2 bg-soft-sky"><i class="fas fa-home"></i></a>
        </div>
    </div>

    <div class="container">
        <div class="page-title">
            <span>Forgot Password</span>
        </div>
    </div>

</div>
<div class="container">
    <div class="p-4 content-section">
        <div class="row g-0">

            <div class="text-center">
                <img src="/assets/images/password.jpg" class="img-fluid" style="max-height: 350px;">
            </div>

            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="mw-400">
                    <div class="py-4 px-3">
                        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                            <div class="row g-2 mt-1">
                                <div class="col-12 mb-2">
                                    <label asp-for="Email" class="form-label">Email Address</label>
                                    <input type="text" class="form-control" asp-for="Email" autofocus="">
                                </div>
                                <div class="col-12 mb-2">
                                    <button class="btn btn-sky w-100 text-uppercase" type="submit">Submit</button>
                                </div>
                            </div>
                            <div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
