
@{
    ViewData["Title"] = "Stock History";
    Layout = LayoutPage.AdminLayout;
}

<div class="page-title-box">
    <h4 class="page-title">Stock Entry History</h4>
</div>


<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tblOrder" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="all">Product</th>
                    <th>Entry Type</th>
                    <th>Qty</th>
                    <th>Short Desc.</th>
                    <th class="all">Date Modified</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
    $(function () {

            suTable = $('#tblOrder').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "autoWidth": false,
                "ajax": $.fn.dataTable.pipeline({
                    url: '@Url.Action("EntryHistoryRenderView")',
                    pages: 5, //number of pages to cache
                    method: 'POST' // Ajax HTTP method
                }),
                "order": [[0, "desc"]],
                "columnDefs": [
                    { "targets": [0], "visible": false, "searchable": false },
                    //{ "targets": [6], "searchable": false, "orderable": false, "className": "text-end user-action" }
                ],
                "columns": [
                    { "data": "id", "name": "Id" },
                    { "data": "variantTitle", "name": "VariantTitle" },
                    { "data": "stockInputTypeName", "name": "StockInputType" },
                    { "data": "qty", "name": "Qty" },
                    { "data": "description", "name": "Description" },
                    {
                        "data": "lastModifiedDate", "name": "LastModifiedDate",
                        "render": function (data, type, row) {
                            return row.lastModifiedDate != null ? '<span>' + dayjs(row.lastModifiedDate).format('MMM D, YYYY h:mm A') + '</span>' : '';
                        }
                    }
                ]
            });
        });

    </script>
}