



<div style="box-shadow: 0 0px 5px #e8ebf3;">
    <div class="list-group" id="profilesetting-nav" role="tablist">
        <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Profile">Basic Info</a>
        <a class="list-group-item list-group-item-action" asp-action="Password" asp-controller="Profile">Password</a>
        @*<a class="list-group-item list-group-item-action" asp-action="Security" asp-controller="Profile">Two-Factor Auth.</a>*@
        @*<a class="list-group-item list-group-item-action" asp-action="Settings" asp-controller="Profile">Settings</a>*@
    </div>
</div>