


<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="d-grid gap-2 d-block">
                <a asp-action="Logout" asp-controller="Account" class="btn btn-block btn-soft-danger"><i class="fas fa-power-off"></i> Logout</a>
            </div>
        </div>
    </div>
</div>
@*<div class="card">
    <div class="card-body">
        <h6 class="card-title font-weight-bold">Support</h6>
        <p class="card-text">Get fast, free help from our friendly assistants.</p>
        <button type="button" class="btn btn-light-green">Contact Us</button>
    </div>
</div>*@