@model ResetPasswordDto
@{
    Layout = LayoutPage.CleanLayout;
    ViewData["Title"] = "Reset Password";
}



<div class="top-header">
    <div class="container-fluid ">
        <div class="d-flex justify-content-between">
            <button onclick="history.back()" class="btn btn-light btn-sm rounded-2 bg-soft-green"><i class="fa-solid fa-arrow-left"></i></button>
            <a href="/" class="btn btn-light btn-sm rounded-2 bg-soft-green"><i class="fas fa-home"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="page-title">
            <span>Reset Password</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-4 content-section">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="/assets/images/signin.svg" class="img-fluid" style="max-height: 350px;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="mw-400">
                        <div class="py-4 px-3">
                            <form asp-controller="Account" asp-action="ResetPasswordConfirmation" method="post">
                                <div class="row g-2 mt-1">
                                    <input hidden asp-for="Email" />
                                    <input hidden asp-for="Token" />
                                    <div class="col-12 mb-2">
                                        <label asp-for="Password" class="form-label">Password</label>
                                        <input type="password" class="form-control" asp-for="Password" autofocus="">
                                        @*<span asp-validation-for="Password"></span>*@
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" asp-for="ConfirmPassword" autofocus="">
                                        @*<span asp-validation-for="ConfirmPassword"></span>*@
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <button class="btn btn-green w-100 text-uppercase" type="submit">Submit</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <small><a class="text-sky text-decoration-none" asp-controller="My" asp-action="Login">Go to login <i class="fa-solid fa-arrow-up-right-from-square"></i></a></small>
                                </div>
                                <div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

