@*@model IEnumerable<WishListDto>*@

@{
    ViewData["Title"] = "Wishlist";
    Layout = LayoutPage.ShopLayout;
    GeneralConfigurationDto conGen = JsonSerializer.Deserialize<GeneralConfigurationDto>(K["GeneralConfiguration"])!;
    //var wishList = Model.ToList();
}

<div class="top-header">
    <div class="container">
        <div class="page-title">
            <span>Account</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-4 content-section customer-profile">
        <div class="column">
            <div class="col-md-4">
                <partial name="_CustomerAccountTab" />
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade bg-white show active p-2">
                        <h5 class="mb-3 text-uppercase fw-bold">Wishlist</h5>
                        <div id="wishListItems">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/others/js/customer-account.js"></script>
    <script>
        function removeWish(id) {
            const cookieName = '@Html.Raw(User?.Identity?.Name?.ToString())';
            addToWishList(id, false, cookieName);
            getWishItems();
        }

        getWishItems();
        function getWishItems() {
            const cookieName = '@User?.Identity?.Name';
            let wishCookie = getCookie(cookieName);

            let wishCookieIds = [];
            wishCookieIds = wishCookie == null ? wishCookieIds : wishCookie?.toString().split(",").map(Number);
            var data = JSON.stringify(wishCookieIds);

            $.ajax({
                url: "@Url.Action("GetWishListItems", "My")",
                type: "GET",
                data: { ids: data },
                success: function(response) {
                    if (response != null) {

                        var html = "";
                        $.each(response, function(index, item) {
                            html += `<div class="border-0 shadow-sm my-2">
                                        <div class="d-flex p-2">
                                            <div class="me-2">
                                                <img alt="#" class="me-2 shadow-1 border-radius-10" style="width: 70px;height: 70px;object-fit: cover;border: 2px solid #fff;" src="/${item.productImage || '/assets/images/no-image.png'}">
                                            </div>
                                            <div class="lh-sm w-100">
                                                <a class="d-block text-decoration-none text-dark fw-600" href="/productdetails/${item.slug}">${item.name}</a>
                                                <small class="d-block"><strong>Category: </strong><a style="color:#8BC34A;" href="/shop/${item.categorySlug}">${item.categoryName}</a></small>
                                                <div class="d-flex justify-content-between">
                                                    <small class="cart-price d-block"><bdi class="@(conGen?.CurrencyPosition == CurrencyPosition.End ? "currency-swap" : "")"> <span>@conGen?.CurrencySymbol</span><span>${item.price}</span></bdi></small>
                                                    <div class="mt-1 text-end">
                                                        <a href="javascript:void(0)" onclick="removeWish(${item.productId})" class="btn btn-xs btn-orange-outline border-0"><i class="fa-solid fa-xmark"></i></a>
                                                        <a href="/productdetails/${item.slug}" class="btn btn-xs btn-grass-outline border-0"><i class="fa-solid fa-bag-shopping"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;

                        });

                        $("#wishListItems").html(html);
                    }
                },
                error: function(xhr, status, error) {
                    alert("Error!" + error);
                }
            });
        }

    </script>
}
