<div class="nav btn-group flex-wrap" id="appconfig-tab">
    <a class="btn btn-nav mb-1" asp-action="Index">General</a>
    <a class="btn btn-nav mb-1" asp-action="Shop">Shop</a>
    <a class="btn btn-nav mb-1" asp-action="Social">Social</a>
    <a class="btn btn-nav mb-1" asp-action="BasicSeo">Basic SEO</a>
</div>
