@{
    Layout = LayoutPage.ShopLayout;
}

@section Styles{
    
}

<div class="container" >
    <div class="py-4 my-4">
        <vc:order-completed id=2></vc:order-completed>
    </div>
    
</div>


@section Scripts{
    
}