@{
    GeneralConfigurationDto conGen = JsonSerializer.Deserialize<GeneralConfigurationDto>(K["GeneralConfiguration"])!;
    BasicSeoConfigurationDto conBSeo = JsonSerializer.Deserialize<BasicSeoConfigurationDto>(K["BasicSeoConfiguration"])!;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="/@conGen.CompanyFavicon" />
    <title>@ViewData["Title"] - @conGen.CompanyName</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <partial name="_CleanStyles" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
    <partial name="_CleanScripts" />
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["notification"] != null)
    {@Html.Raw(TempData["notification"])}

</body>
</html>