
<a href="javascript:void(0)" onclick="history.back()" class="float">
    <i class="fa-solid fa-reply my-float"></i>
</a>
<nav class="mobile-menu">
    <a href="/"><i class="fa fa-home"></i><small class="d-block">Home</small></a>
    <a asp-controller="Shop" asp-action="Index"><i class="fa-solid fa-store"></i><small class="d-block">Store</small></a>
    <a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i><small class="d-block">Bag</small></a>
    <a asp-controller="My" asp-action="Index"><i class="fa fa-user"></i><small class="d-block">Account</small></a>
</nav>

